body {
  font-family: sans-serif;
  font-size: 100%;
}

div#outer {
  width: 500px;
}

div#inner {
  text-indent: 10%;
}

p.spread {
  word-spacing: 5px;
}

p.tight {
  word-spacing: -0.5em;
}

h1 {
  letter-spacing: 1em;
  font-size: 2em;
}

h4 {
  letter-spacing: 5px;
}

p.uppercase {
  text-transform: uppercase;
}

p.lowercase {
  text-transform: lowercase;
}
  
p.capitalize {
  text-transform: capitalize;
}

h2.stricken {
  text-decoration: line-through;
}

h2 {
  font-family: Georgia, serif;
  text-decoration: underline overline;
}

p {
  white-space: normal;
}

div.one
{
  direction: rtl;
}
div.two
{
  direction: ltr;
}

p.small {
  line-height: 15px;
  font-variant: small-caps;
}

p.big {
  line-height: 30px;
}

p.normal {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

p.italic {
  font-style: italic;
}

p.oblique {
  font-style:oblique;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}
