ul.disc {
  list-style-type: disc;
}

ul.circle {
  list-style-type: circle;
}

ul.square {
  list-style-type: square;
}

ul.none {
  list-style-type: none;
}

ul.image {
  list-style-image: url(eg_arrow.gif);
}

ol.decimal {
  list-style-type: decimal;
}

ol.lroman {
  list-style-type: lower-roman;
}

ol.uroman {
  list-style-type: upper-roman;
}

ol.lalpha {
  list-style-type: lower-alpha;
}

ol.ualpha {
  list-style-type: upper-alpha;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 60%;
  border-collapse: collapse;
}

#customers td, #customers th {
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
}

#customers th {
  font-size: 1.1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #A7C942;
  color: #ffffff;
}

#customers tr.alt td {
  color: #000000;
  background-color: #EAF2D3;
}