a:link {
  background-color: #B2FF99;
  color:#FF0000;
  text-decoration: none;
}  /* 未被访问的链接 */
a:visited {
  background-color: #FFFF85;
  color:#00FF00;
  text-decoration: none;
}  /* 已被访问的链接 */

a:hover {
  background-color: #FF704D;
  color:#FF00FF;
  text-decoration: underline;
}  /* 鼠标指针移动到链接上 */

a:active {
  background-color: #FF704D;
  color:#0000FF;
  text-decoration: underline;
}  /* 正在被点击的链接 */

a.one:link, a.one:visited
{
  display: block;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #98bf21;
  width: 120px;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

a.one:hover, a.one:active
{
  background-color: #7A991A;
}