a.one:link {color: #ff0000}
a.one:visited {color: #0000ff}
a.one:hover {color: #ffcc00}

a.two:link {color: #ff0000}
a.two:visited {color: #0000ff}
a.two:hover {font-size: 150%}

a.three:link {color: #ff0000}
a.three:visited {color: #0000ff}
a.three:hover {background: #66ff66}

a.four:link {color: #ff0000}
a.four:visited {color: #0000ff}
a.four:hover {font-family: monospace}

a.five:link {color: #ff0000; text-decoration: none}
a.five:visited {color: #0000ff; text-decoration: none}
a.five:hover {text-decoration: underline}

input:focus {
  background-color: yellow;
}

p:first-child {
  font-weight: bold;
}

li:first-child {
  text-transform:uppercase;
}

q:lang(no)
{
  quotes: "~" "~";
}

p > i:first-child {
  font-weight: bold;
} 

h4:first-line {
  color: #ff0000;
  font-variant: small-caps
}

h5:first-letter {
  color: #ff0000;
  font-size: xx-large;
}

p.article:first-letter {
  color: #ff0000;
}

h1:before {
  content: url(../tab0.png);
}
